<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">


	<!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- name的值:ComboPooledDataSource中的属性名称，不可更改 
		这四个属性是配置数据库连接 -->
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/ebuy" />
		<property name="user" value="root" />
		<property name="password" value="soysouce" />
	</bean>

	<!-- sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 注入数据源 
		name="dataSource"：LocalSessionFactoryBean类中的一个属性名,不可更改 
		ref="dataSource"：自己定义的数据源名称 
		-->
		<property name="dataSource" ref="dataSource" />
		<!-- hibernate特有的属性 hibernateProperties：Properties类型 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置hibernate映射文件 mappingResources:数组类型 -->
		<property name="mappingResources">
			<list>
				<value>zyf/entity/Customer.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!-- 事务配置 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 开启事务的注解 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<import resource="zyf/controller/applicationContext-action.xml"/>
	<import resource="zyf/dao/impl/applicationContext-dao.xml"/>
	<import resource="zyf/service/impl/applicationContext-service.xml"/>
</beans>












